[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/xaman/*"
  to = "https://xumm.app/api/v1/platform/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/ai"
  to = "/.netlify/functions/ai"
  status = 200


[build.environment]
  NODE_VERSION = "18"
